* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: plum;
}

h1 {
    color: rgb(7, 93, 27);
    font-size: 2rem;
    text-align: center;
}

h2 {
    color: rgb(148, 19, 181);
    font-size: 1.5rem;
    text-align: center;
}

.container {
    max-width: 40rem;
    background-color: bisque;
    border-radius: 5px;
    margin: 3rem auto;
    padding: 1rem;
}

.output-field {
    color: rgb(87, 1, 1);
    text-transform: capitalize;
    font-size: larger;
}